<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Блокнот</title>
    <style>
        .note {
        width: 200px;
        background: #f0f0f0;
        border: 1px solid #333;
        padding: 10px;
        font-size: 24px;
        word-break: break-all;
    }
    </style>
</head>
<body>
<form method="post" action="/add_note">
    <h2>Заголовок:</h2>
    <textarea name="header" class="form-control"></textarea><br>
    <h2>Заметка:</h2>
    <textarea name="text" class="form-control"></textarea><br>
    <button type="submit">Добавить заметку</button>
</form>
<h1>Заметки</h1>
<table>
{% for group in note_groups %}
<tr>
    {% for note in group %}
<td class="note">
<h3>{{ note.header }}</h3>
    <p>{{ note.text }}</p>
    <p>{{ note.date.date() }}</p>
</td> {% endfor %}
</tr>{% endfor %}
</table>
</body>
</html>