<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Блокнот</title>
    <style>
        .note {
        width: 180px;
        background: #f1f0f0;
        border: 2px solid #333;
        padding: 10px;
        font-size: 24px;
        word-break: break-all;
    }
        .note a.text {
        width: 100px;
        font-size: 30px;
        text-decoration: none;
        color: #804;
    }
    </style>
</head>
<body>
<form method="get" action="/find_note">
    <h2>Поиск:</h2>
    <textarea name="header" class="form-control" placeholder="Заголовок"></textarea><br>
    <button type="submit">Найти заметку</button>
</form><br>
<form method="get" action="/">
    <button type="submit">Отобразить все заметки</button>
</form>
<h1>Заметки</h1>
<table>
{% for group in note_groups %}
<tr>
    {% for note in group %}
<td class="note">
    <a href="/delete_note/{{ note.id }}" class="text">✖</a>
    <h3>{{ note.header }}</h3>
    <p>{{ note.text }}</p>
    <h5>{{ note.date.date() }}</h5>
</td> {% endfor %}
</tr>{% endfor %}
</table>
</body>
</html>